ion-list {
  margin: auto;
  padding-top: 20%;
  border-radius: 15px;
}

.flex {
  display: flex;
}

ion-input {
  text-align: center;
  font-size: 35px;
  margin:2px;
  padding: 0 5px 0 5px !important;
  width: 15%;
  border-radius: 3px;
  border-bottom: 1px solid;
}

ion-button {
  width: 90%;
  height: 10%;
}

ion-header {
  position: fixed;
  top : 2%;
}

ion-header > ion-button {
  width: fit-content;
}

ion-header > ion-label {
  color: white;
}
