<ion-header class="flex ion-align-items-center">
    <ion-button size="small" fill="clear" routerLink="/login">
        <ion-icon name="arrow-back" color="light" size="large"></ion-icon>
    </ion-button>
    <ion-label>Número de DNI</ion-label>
</ion-header>
<ion-list class="ion-padding">
    <ion-label>Ingrese su número de DNI</ion-label>
    <div #inputs class="flex ion-justify-content-center ion-padding">
        <ion-input type="tel" maxlength="1"></ion-input>
        <ion-input type="tel" maxlength="1"></ion-input>
        <ion-input type="tel" maxlength="1"></ion-input>
        <ion-input type="tel" maxlength="1"></ion-input>
        <ion-input type="tel" maxlength="1"></ion-input>
        <ion-input type="tel" maxlength="1"></ion-input>
        <ion-input type="tel" maxlength="1"></ion-input>
        <ion-input type="tel" maxlength="1"></ion-input>
    </div>
    <ion-button expand="round" size="large" class="ion-padding" (click)="slideMove('next')">Enviar</ion-button>
</ion-list>


