<ion-header>
  <ion-toolbar class="header">
    <div class="flex ion-justify-content-center header ion-align-items-center">
      <div class="block ion-justify-content-center ">
        <div class="flex ion-justify-content-center ion-padding-top">
          <ion-img class="avatarIcon" src="../../assets/ilustraciones/pedir_prestamo.svg"></ion-img>
        </div>
        <div class="flex ion-justify-content-center ion-padding-bottom">
          <ion-label color="light">Pedir prestamo</ion-label>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ion-padding">
    <div class="flex ion-justify-content-center ion-padding">
      <ion-img src="../assets/ilustraciones/solicitud_ingresada.svg"></ion-img>
    </div>
    <div class="flex ion-justify-content-center">
      <ion-label class="blue">
        Tu solicitud fue ingresada
      </ion-label>
    </div>
    <div class="flex ion-justify-content-center ion-margin">
      <ion-label class="bigFont">Nos comunicaremos
        a la brevedad
      </ion-label>
    </div>
    <div class="flex ion-justify-content-center">
      <ion-button expand="round" size="large" routerLink="/home">Volver al inicio</ion-button>
    </div>
  </ion-list>
</ion-content>
