<ion-content class="ion-align-items-center">
    <div class="banner"></div>
    <ion-list inset="true" class="box ion-padding">

        <div class="flex ion-align-items-center ion-justify-content-center">
            <ion-button class="singIn" fill="clear">
                <ion-icon src="../../assets/iconos/facebook.svg"></ion-icon>
            </ion-button>
            <ion-button class="singIn" fill="clear">
                <ion-icon src="../../assets/iconos/google.svg"></ion-icon>
            </ion-button>
        </div>


        <div class="flex ion-justify-content-center ion-padding-top">
            <div class="block ion-padding-top">
                <ion-input placeholder="DNI"></ion-input>
                <ion-input placeholder="Contraseña"></ion-input>
                <div class="flex ion-justify-content-end ion-padding-top">
                    <ion-label position="right">¿Olvidaste tu Contraseña?</ion-label>
                </div>
            </div>
        </div>
        <div class="flex ion-justify-content-center ion-padding-top">
            <ion-button class="loginButton" expand="round">Ingresar</ion-button>
        </div>
        <div class="flex ion-justify-content-center ion-padding-top">
            <ion-button fill="clear">¿Primer Ingreso?</ion-button>
        </div>
    </ion-list>

</ion-content>


