<ion-content id="main" scrollY="false">
    <div class="flex ion-justify-content-center header" >
        <div class="block caja ion-justify-content-center ">
            <div class="flex ion-justify-content-center ion-padding-top">
                <ion-text color="light">ARS 10500</ion-text>
            </div>
            <div class="flex ion-justify-content-center ion-padding-bottom">
                <ion-text color="light">Crédito Preaprobado</ion-text>
            </div>
        </div>
    </div>

    <ion-grid >
        <ion-row class="flex ion-justify-content-center">
            <ion-col size="6" class="flex ion-justify-content-center">
                <ion-button color="light" class="btn">
                    <div class="grid">
                        <div class="flex ion-justify-content-center">
                          <ion-label class="ion-padding">Valor Cuota</ion-label>
                        </div>
                        <ion-label class="ion-padding">ARS 3000</ion-label>
                    </div>
                </ion-button>
            </ion-col>
            <ion-col size="6" class="flex ion-justify-content-center">
                <ion-button color="light" class="btn">
                    <div class="grid">
                        <div class="flex ion-justify-content-center">
                          <ion-label class="ion-padding">Cantidad de cuotas</ion-label>
                        </div>
                        <ion-label class="ion-padding">12</ion-label>
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="flex ion-justify-content-center">
            <ion-button color="light" class="btn">
                <div class="grid">
                    <div class="flex ion-justify-content-center">
                      <ion-label class="ion-padding">Recibiras el dinero en</ion-label>
                    </div>
                    <ion-label class="ion-padding">Banco Ciudad</ion-label>
                    <ion-label class="ion-padding">CBU 123489765465465464</ion-label>
                </div>
            </ion-button>
        </ion-row>

      <ion-row class="flex ion-justify-content-center">
        <ion-button color="light" class="btn">
          <div class="grid">
            <div class="flex ion-justify-content-center">
              <ion-label class="ion-padding">Confirmar celular</ion-label>
            </div>
            <ion-label class="ion-padding">+54 11545646466</ion-label>
          </div>
        </ion-button>
      </ion-row>


        <div class="flex ion-justify-content-center">
            <ion-button expand="round" routerLink="/login">
                <ion-label>Salir</ion-label>
                <ion-icon src="../../assets/iconos/salir.svg"></ion-icon>
            </ion-button>
        </div>
    </ion-grid>
</ion-content>

