<ion-content id="main" scrollY="false">
    <div class="flex ion-justify-content-center header ion-align-items-center">
        <div class="block caja ion-justify-content-center ">
            <div class="flex ion-justify-content-center ion-padding-top">
                <ion-text color="light">ARS 10500</ion-text>
            </div>
            <div class="flex ion-justify-content-center ion-padding-bottom">
                <ion-text color="light">Crédito Preaprobado</ion-text>
            </div>
        </div>
    </div>

    <ion-grid class="ion-padding-end ion-padding-start">
        <ion-row class="flex ion-justify-content-center">
            <ion-col size="6" class="flex ion-justify-content-center">
                <ion-button color="light" class="btn ">
                    <div class="grid">
                        <div class="flex ion-justify-content-center">
                            <ion-label class="boxTitle">Valor Cuota</ion-label>
                        </div>
                        <ion-label class="ion-padding-top">ARS 3000</ion-label>
                    </div>
                </ion-button>
            </ion-col>
            <ion-col size="6" class="flex ion-justify-content-center">
                <ion-button color="light" class="btn">
                    <div class="grid">
                        <div class="flex ion-justify-content-center">
                            <ion-label class=" boxTitle">Cantidad cuotas</ion-label>
                        </div>
                        <ion-label class="ion-padding-top">12</ion-label>
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="flex ion-justify-content-center">
            <ion-button color="light" class="btn">
                <div class="grid">
                    <div class="flex ion-justify-content-center">
                        <ion-label class=" boxTitle">Recibiras el dinero en</ion-label>
                    </div>
                    <ion-label class="">Banco Ciudad</ion-label>
                    <ion-label class="">CBU 123489765465465464</ion-label>
                </div>
            </ion-button>
        </ion-row>

        <ion-row class="flex ion-justify-content-center">
            <ion-button color="light" class="btn">
                <div class="grid">
                    <div class="flex ion-justify-content-center">
                        <ion-label class="ion-padding boxTitle">Confirmar celular</ion-label>
                    </div>
                    <ion-label class="ion-padding">+54 11545646466</ion-label>
                </div>
            </ion-button>
        </ion-row>

        <div class="flex ion-justify-content-center">
            <ion-checkbox>
            </ion-checkbox>
            <ion-text>Acepto los términos y condiciones</ion-text>
        </div>
        <div class="flex ion-justify-content-center ion-padding-top">
            <ion-button class="nextButton" expand="round" routerLink="/codigo-confirmacion">
                <ion-label>Siguiente</ion-label>
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
        </div>
    </ion-grid>
</ion-content>

