<ion-header class="flex ion-align-items-center">
        <ion-button size="small" fill="clear" (click)="slideMove('back')">
            <ion-icon name="arrow-back" color="light" size="large"></ion-icon>
        </ion-button>
        <ion-label>Foto de Perfil</ion-label>
</ion-header>
<ion-list class="ion-padding">
    <div class="flex ion-justify-content-center ion-padding">
        <ion-img src="../assets/ilustraciones/subir_foto.svg"></ion-img>
    </div>
    <ion-label>
        Subí una foto tuya
        para comenzar tu perfil
    </ion-label>
    <ion-button expand="round" size="large" class="ion-padding" routerLink="/home">Enviar</ion-button>
</ion-list>


