ion-content {
  --background: url(../../assets/backgrounds/bg_home.svg) center top / contain no-repeat;
}


ion-toolbar{
 --background: linear-gradient(to right, #46b9e4 0%, #38a4d7 100%) !important;
  background-image: none;
  border-color: transparent;
  padding: 2% 2% 0 4%;
}

.caja{
  border-radius: 15px;
  background-color: #00c4fa;
  width: 50%;
  height: 30%;
}

.wrapper {
  height: 50%;
}

ion-menu > ion-toolbar {
  height: 20%;
}

ion-menu > ion-content {
  --background: none;
}

.avatarIcon {
  font-size: 50px;
}
