<!--MENU-->
<ion-menu contentId="main" side="start" menuId="first">
    <ion-toolbar class="flex ion-align-items-center">
        <div class="flex ion-justify-content-center menuHeader">
            <ion-icon class="avatarIcon" src="../../assets/ilustraciones/perfil.svg"></ion-icon>
            <ion-title color="light">{{nombre}}</ion-title>
        </div>
    </ion-toolbar>
    <ion-content>
        <ion-list lines="none">
            <ion-item>
                <ion-icon src="../../assets/iconos/perfil.svg"></ion-icon>
                <ion-label>Mis Datos</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon src="../../assets/iconos/cbu.svg"></ion-icon>
                <ion-label>Cambiar CBU</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon src="../../assets/iconos/telefono.svg"></ion-icon>
                <ion-label>Cambiar tëlefono</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon src="../../assets/iconos/contraseña.svg"></ion-icon>
                <ion-label>Cambiar Contraseña</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<!--MENU-->

<ion-content id="main" scrollY="false">
    <ion-toolbar>
        <ion-icon slot="start" name="menu" color="light" size="large" (click)="openMenu()"></ion-icon>
        <ion-text color="light" slot="start">Hola {{nombre}}</ion-text>
        <ion-text color="light" slot="end">Axeder</ion-text>
    </ion-toolbar>
    <div class="flex ion-justify-content-center">
        <ion-img class="overlap" src="../../assets/ilustraciones/credito_preaprobado.svg"></ion-img>
    </div>
    <div class="flex ion-justify-content-center ">
        <div class="block caja ion-justify-content-center " routerLink="/credito-preaprobado">
                <div class="flex ion-justify-content-center ion-padding-top">
                    <ion-text color="light">ARS 10500</ion-text>
                </div>
                <div class="flex ion-justify-content-center ion-padding-bottom">
                    <ion-text color="light">Crédito Preaprobado</ion-text>
                </div>
        </div>
    </div>

    <ion-grid class="absolute">
        <ion-row class="flex ion-justify-content-center">
            <ion-button color="light">
                <div class="grid">
                    <div class="flex ion-justify-content-center">
                        <ion-icon class="ion-padding buttonIcon"
                                  src="../../assets/ilustraciones/pedir_prestamo.svg"></ion-icon>
                    </div>
                    <ion-label class="ion-padding">Pedir prestamo</ion-label>
                </div>
            </ion-button>
        </ion-row>
        <ion-row class="flex ion-justify-content-center">
            <ion-col size="6" class="flex ion-justify-content-center">
                <ion-button color="light">
                    <div class="grid">
                        <div class="flex ion-justify-content-center">
                            <ion-icon class="ion-padding buttonIcon"
                                      src="../../assets/ilustraciones/beneficios.svg"></ion-icon>
                        </div>
                        <ion-label class="ion-padding">Beneficios</ion-label>
                    </div>
                </ion-button>
            </ion-col>
            <ion-col size="6" class="flex ion-justify-content-center">
                <ion-button color="light">
                    <div class="grid">
                        <div class="flex ion-justify-content-center">
                            <ion-icon class="ion-padding buttonIcon"
                                      src="../../assets/ilustraciones/mi_cuenta.svg"></ion-icon>
                        </div>
                        <ion-label class="ion-padding">Mi Cuenta</ion-label>
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>
        <div class="flex ion-justify-content-center">
            <ion-button expand="round" routerLink="/login">
                <ion-label>Salir</ion-label>
                <ion-icon src="../../assets/iconos/salir.svg"></ion-icon>
            </ion-button>
        </div>
    </ion-grid>
</ion-content>

