<ion-content fullscreen="true">
    <div class="flex ion-justify-content-center header ion-align-items-center">
        <div class="block ion-justify-content-center ">
            <div class="flex ion-justify-content-center ion-padding-top">
                <ion-label color="light">ARS
                  <ion-text>10500</ion-text>
                </ion-label>
            </div>
            <div class="flex ion-justify-content-center ion-padding-bottom">
                <ion-label color="light">Crédito Preaprobado</ion-label>
            </div>
        </div>
    </div>

    <ion-list class="ion-padding absolute ion-justify-content-center">
        <div class="flex ion-justify-content-center">
            <ion-text>* * * * * *</ion-text>
        </div>
        <div class="flex ion-justify-content-center ion-padding-top">
            <ion-label>Enviamos un SMS a +54 11 2076 4458
                con un codigo de verificación de 6 digitos
            </ion-label>
        </div>
        <div class="flex ion-justify-content-center ion-padding-top ion-padding-bottom">
            <ion-input type="number"></ion-input>
            <ion-input type="number"></ion-input>
            <ion-input type="number"></ion-input>
            <ion-input type="number"></ion-input>
        </div>
        <div class="flex ion-justify-content-center">
            <ion-button expand="round" size="large" class="ion-padding" routerLink="/confirmacion-credito">Enviar</ion-button>
        </div>
        <div class="flex ion-justify-content-center ion-padding">
            <ion-label>¿No recibiste el código?</ion-label>
        </div>

        <div class="flex ion-justify-content-center ion-padding-top">
            <ion-button fill="clear" size="medium">Volver a enviar</ion-button>
            |
            <ion-button fill="clear" size="medium">Recibe una llamada</ion-button>
        </div>
    </ion-list>
</ion-content>



