<ion-content>
    <ion-slides pager="true" #sliderRef [options]="{allowTouchMove: false, scrollbar: false}">
        <ion-slide>
            <app-dni (slideMovement)="moveSlides($event)" class="fullWidth"></app-dni>
        </ion-slide>
        <ion-slide>
            <app-registrar (slideMovement)="moveSlides($event)" class="fullWidth"></app-registrar>
        </ion-slide>
        <ion-slide>
            <app-phone (slideMovement)="moveSlides($event)" class="fullWidth"></app-phone>
        </ion-slide>
        <ion-slide>
            <app-sms-code (slideMovement)="moveSlides($event)" class="fullWidth"></app-sms-code>
        </ion-slide>
        <ion-slide>
            <app-dni-frente (slideMovement)="moveSlides($event)" class="fullWidth"></app-dni-frente>
        </ion-slide>
        <ion-slide>
            <app-dni-dorso (slideMovement)="moveSlides($event)" class="fullWidth"></app-dni-dorso>
        </ion-slide>
        <ion-slide>
            <app-foto-perfil (slideMovement)="moveSlides($event)" class="fullWidth"></app-foto-perfil>
        </ion-slide>
    </ion-slides>
</ion-content>
