<ion-content>
    <ion-slides pager="true">
        <ion-slide>
            <app-dni></app-dni>
        </ion-slide>
        <ion-slide>
            <app-registrar></app-registrar>
        </ion-slide>
        <ion-slide>
            <app-phone></app-phone>
        </ion-slide>
        <ion-slide>
            <app-sms-code></app-sms-code>
        </ion-slide>
        <ion-slide>
            <app-dni-frente></app-dni-frente>
        </ion-slide>
        <ion-slide>
            <app-dni-dorso></app-dni-dorso>
        </ion-slide>
        <ion-slide>
            <app-foto-perfil></app-foto-perfil>
        </ion-slide>
    </ion-slides>
</ion-content>
